# Site
name: "XVII"
title: "XVII"
description: "Thoughts, stories, ideas and news."
logo: 'https://res-5.cloudinary.com/hbvjrqyqn/image/upload/q_auto/v1/ghost-blog-images/ghost-35852_640.png'
favicon: 'https://res-5.cloudinary.com/hbvjrqyqn/image/upload/q_auto/v1/ghost-blog-images/ghost-35852_640.png'
baseurl: 
Jgoogle_analytics: 'UA-46278016-1'
disqus: 'xvii'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  masteraddy:
    name: MasterAddy
    display_name: MasterAddy
    gravatar: e56154546cf4be74e393c62d1ae9f9d4
    email: aiadesile@gmail.com
    web: https://addy.vercel.app
    twitter: https://twitter.com/itsmasteraddy
    description: "Author at XVII, a Web and Mobile Developer, and a blogger. I hope we'll enjoy our time together."
  
# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "enabled"
adsense-data-ad-client: "ca-pub-1726432460605406"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
